<html>

{% load static %}

<head>
	<title>Powell Smash Rankings</title>
	<link href="{% static 'display/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="background"><img alt="" class="stretch" src="{% static 'display/background.png' %}" /></div>

<div class="center"><img width ="100%" height = "35%" alt="logo" src="{% static 'display/logo.png' %}" />
<ul class="top">
	<li><a href="index.html">About Us</a></li>
	<li><a href="rankings.html">Individual Elo</a></li>
	<li><a href="doubles.html">Team Elo</a></li>
	<li><a class="active" href="#">Tournaments</a></li>
	<li><a href="players.html">Players</a></li>
	<li><a href="blog.html">Blog</a></li>
</ul>

<h2><b>Powell Smash Rankings</b></h2>
<p><b>Click a player's name to see their records.</b></p>
<p><b>Includes all tournament data up to: {{lastDate}}</b></p>
<table>
	<tr>
		<th>Date</th>
		<th>Name</th>
	</tr>
{% for tournament in tournaments %}
	<tr>
		<td>{{ tournament.getDate }}</td>
		<td><a href="{{ tournament.link }}">{{ tournament.name }}</a></td>
	</tr>
{% endfor %}
</div>
</body>
</html>
